<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<import resource="spring-connection.xml"/>
	<bean id="userDao" class="dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="vehicleDao" class="dao.impl.VehicleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="daoValidator" class="validation.DaoValidator"/>
	<aop:config>
		<!-- Disable the following advisor on deployment -->
		<aop:advisor advice-ref="daoValidator" pointcut="execution(public * dao.*Dao.save(*)) OR execution(public * dao.*Dao.update(*)) AND args(validation.Validatable)"/>
	</aop:config>
</beans>
